# By default, AdamSaleh797 and Clayton own all json config files.

.json @AdamSaleh797 @ClaytonKnittel

/common @AdamSaleh797 @ClaytonKnittel

/client @AdamSaleh797

/bot @AdamSaleh797 @ClaytonKnittel

/server @ClaytonKnittel

.github @AdamSaleh797 @ClaytonKnittel

/lint @ClaytonKnittel
