# By default, Moniino and Clayton own all json config files.
*.json @Moniino @ClaytonKnittel

/common @Moniino @ClaytonKnittel

/client @Moniino

/bot @Moniino @ClaytonKnittel

/server @ClaytonKnittel

.github @Moniino @ClaytonKnittel

/lint @ClaytonKnittel
