.fade {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.Demacia {
  background-image: linear-gradient(
    90deg,
    rgb(231, 217, 184) 32.4%,
    rgba(231, 217, 184, 0) 70%
  );
}

.Shurima {
  background-image: linear-gradient(
    90deg,
    rgb(238, 205, 50) 32.4%,
    rgba(238, 205, 50, 0) 70%
  );
}

.PiltoverZaun {
  background-image: linear-gradient(
    90deg,
    rgb(222, 199, 69) 32.4%,
    rgba(222, 199, 69, 0) 70%
  );
}

.Bilgewater {
  background-image: linear-gradient(
    90deg,
    rgb(209, 109, 73) 32.4%,
    rgba(209, 109, 73, 0) 70%
  );
}

.Noxus {
  background-image: linear-gradient(
    90deg,
    rgb(200, 77, 74) 32.4%,
    rgba(200, 77, 74, 0) 70%
  );
}

.Ionia {
  background-image: linear-gradient(
    90deg,
    rgb(207, 130, 155) 32.4%,
    rgba(207, 130, 155, 0) 70%
  );
}

.BandleCity {
  background-image: linear-gradient(
    90deg,
    rgb(193, 207, 17) 32.4%,
    rgba(193, 207, 17, 0) 70%
  );
}

.ShadowIsles {
  background-image: linear-gradient(
    90deg,
    rgb(12, 161, 132) 32.4%,
    rgba(12, 161, 132, 0) 70%
  );
}

.Targon {
  background-image: linear-gradient(
    90deg,
    rgb(91, 55, 229) 32.4%,
    rgba(91, 55, 229, 0) 70%
  );
}

.Freljord {
  background-image: linear-gradient(
    90deg,
    rgb(147, 223, 250) 32.4%,
    rgba(147, 223, 250, 0) 70%
  );
}

.Runeterra {
  background-image: linear-gradient(
    90deg,
    rgb(171, 148, 89) 32.4%,
    rgba(171, 148, 89, 0) 70%
  );
}

.cost {
  width: 18.4%;
  height: 100%;
  display: inline-block;
}

.name {
  width: 63.2%;
  height: 100%;
  display: inline-block;
}

.count {
  width: 18.4%;
  height: 100%;
  display: inline-block;
}
