.typeCategory {
  display: block;
}

.cardDisplayContainer {
  aspect-ratio: 190 / 35;
  width: 327px;
  margin-right: 10px;
  display: inline-block;
}

.cardDisplayContainer:nth-child(2) {
}

.categoryLabel {
  font-weight: 600;
  display: flex;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
  width: 327px;
  margin-bottom: 10px;
}

.categoryIcon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.categoryName {
  display: flex;
  align-items: center;
}

.categoryCount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
