.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.material-button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.material-button.selected {
  background-color: #e0e0e0;
}
